pos(left = auto, right = auto, top = auto, bottom = auto, position = absolute)
  position position
  if left != auto
    left left
  if right != auto
    right right
  if top != auto
    top top
  if bottom != auto
    bottom bottom